__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
data/*.json
.git
.gitignore
bad_input_movid/
bad_output_movid/
good_input_movid/
good_output_movid/
normal_input_movid/
normal_output_movid/
uploads/
*.mp4
*.avi
*.mov
node_modules/
